<% include header %>
  <% stocks.forEach(function(stock){ %>
    <a href="/stock/<%= stock.symbol %>"><img src="<%= stock.companyLogoUrl %>"/></a>
  <% }) %>
  <a href="/new"><img src="http://placehold.it/64x64&text=NEW"/></a>
<% include footer %>
